<p id="notice"><%= notice %></p>

<h1>Spaces</h1>

<table>
  <thead>
    <tr>
      <th>Space</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id="res">
    <%= render partial: 'res' %>
    <script>
      $(document).ready(function() {
        $('#res').on('click', () => {
          window.location.reload();
        });
      })
    </script>
  </tbody>
</table>

<br>
<%= link_to 'New User', new_user_registration_path %>
<%= link_to 'Log_in', new_user_session_path %>
<%= link_to 'New Space', new_space_path %>
