<p id="notice"><%= notice %></p>

<h1>Spaces</h1>

  <table class="calendar" >
    <thead class="week"> 
      <%# <div>
        <p>
          時間\日
        </p>
      </div> %>
      <% @week_days.each do |day| %>
        <%# <div class='item'>
          <div class='date'> %>
            <%= day[:month] %>/<%= day[:date] %> <%= day[:wday] %>
          <%# </div>
        </div> %>
      <% end %>
    </thead>
    <%# <% @spaces.each do |space| %> 
    <tbody class="hours" >
      
        <%# <div class='days'> %>
          <% @spaces.each do |hour| %>
            <tr class='hour '>
              
              <td>
                
                <%= hour.day %>
                
              </td>
              
            </tr>
          <% end %>
        <%# </div> %>
      
    </tbody>
    <%# <% end %> 
  </table>

<%= link_to 'New User', new_user_registration_path %>
<%= link_to 'Log_in', new_user_session_path %>
<%= link_to 'New Space', new_space_path %>

<script>
$(document).ready(function() {
  $('.io').on('click', (data) => {
    console.log(data);
  });
})
</script>


<%# <table>
          <thead>
            <tr>
              <th colspan="3"></th>
            </tr>
          </thead>

          <div id="res">
            <%= render partial: 'res' %>
            <%# <script>
              $(document).ready(function() {
                $('#res').on('click', () => {
                  window.location.reload();
                });
              })
            </script> %>
          <%# </div> %>
        <%# </table> %>
